{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "node": "8.12.0"
        }
      }
    ]
  ],
  "plugins": [
    "syntax-async-functions",
    "@babel/transform-async-to-generator",
    "@babel/plugin-transform-regenerator",
    "@babel/plugin-transform-runtime"
  ]
}
